



.mega nav {
    display: none;
    position: absolute;
    width: 1300px;
    background:#FFFFFF;
    border: 1px solid #eaeaea;
    padding: 10px;
    
}
.mega:hover nav {
    display: block;


}
.megamenu li {
    
    color: azure;
    color: rgb(0, 0, 0);
   
    padding: 5px;
}
.mega li {
    
    color: azure;
    color: rgb(0, 0, 0);
   
    padding: 5px;
}
.hovermenu li {
    
    color: azure;
    color: rgb(0, 0, 0);
   
    padding: 5px;
}

.hovermenu li:hover {
    
    color: rgb(99, 80, 130);
    padding: 5px;
    

}

.hovermenu:hover nav {
    display: block;


}
.hovermenu nav {
    display: none;
    position: absolute;
    width: fit-content;
    background:#FFFFFF;
    border: 1px solid #eaeaea;
    padding: 10px;
}
.loginbtn{
    padding: 13px ;
    width: 90% ;
     background: #000 ;
     color: #fff;
     border-bottom-right-radius: 20px;
     border-top-left-radius: 20px;
}
.loginbtn:hover {
    
 background-color: #eaeaea;
 color: #000;
 transition:1s;
}
.loginbtns{
    padding: 13px ;
    width: 90% ;
     background: #000 ;
     color: #fff;
     border-bottom-right-radius: 20px;
     border-top-left-radius: 20px;
     margin-top: 45px;
}
.loginbtns:hover {
    
 background-color: #eaeaea;
 color: #000;
 transition:1s;
 
}
