.form {
    position: relative;
}

.bnt {
    position: absolute;
    padding: 1px 6px;
}
.menu .dropdownmenu{
    
    width: 200px;
    top:85px;
    position:absolute;
    background: white;

    line-height: 45px;
    /* opacity: 0;
    visibility: hidden; */
    display: none;
}
li:hover .dropdownmenu{
    top:40px;
    /* opacity: 1;
    visibility: visible; */
    transition: all 0.3 ease;
    display: block
    
}
.menu{ display:flex}
.megabox{
    position:absolute;
    margin-top: 5px;
    /* padding: 0 2rem; */
    width: 95%;
    height: 350px;
    padding: 20px;
   
   
    background: white;
    display: none;
}
.contenmenu {
    display: flex;
    justify-content: space-between;
}
li:hover .megabox{
    display:block;
}